$primary-color: #2E3644;
$secondary-color: #191f2d;
$body-color: #333333;
$green: #8aeebc;
$grey: #d1d2d4;
$white: #ffffff;
$black: #000000;
$bold: 'AvenirBlack', Helvetica, Arial Black, sans-serif;
$light: 'AvenirLight', Helvetica, Arial, sans-serif;
$regular: 'AvenirRegular' ,Helvetica, Arial, sans-serif;
$big-text: 100px;

@import "./node_modules/rfs/scss";
@font-face {
    font-family: 'AvenirLight';
    src: url('../fonts/AvenirLight.eot'); /* IE9 Compat Modes */
    src: url('../fonts/AvenirLight.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/AvenirLight.woff') format('woff2'), /* Super Modern Browsers */
         url('../fonts/AvenirLight.woff') format('woff'), /* Pretty Modern Browsers */
         url('../fonts/AvenirLight.ttf')  format('truetype'), /* Safari, Android, iOS */
}
@font-face {
    font-family: 'AvenirRegular';
    src: url('../fonts/AvenirRegular.eot'); /* IE9 Compat Modes */
    src: url('../fonts/AvenirRegular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/AvenirRegular.woff') format('woff2'), /* Super Modern Browsers */
         url('../fonts/AvenirRegular.woff') format('woff'), /* Pretty Modern Browsers */
         url('../fonts/AvenirRegular.ttf')  format('truetype'), /* Safari, Android, iOS */
}
@font-face {
    font-family: 'AvenirBlack';
    src: url('../fonts/AvenirBlack.eot'); /* IE9 Compat Modes */
    src: url('../fonts/AvenirBlack.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/AvenirBlack.woff') format('woff2'), /* Super Modern Browsers */
         url('../fonts/AvenirBlack.woff') format('woff'), /* Pretty Modern Browsers */
         url('../fonts/AvenirBlack.ttf')  format('truetype'), /* Safari, Android, iOS */
}
body{
    width: 100%;
    height: 100vh;
    font-family: $light;
    color: $body-color;
    display: flex;
    flex-direction: column;
}
h1, h2, h3, h4, h5, h6{
    font-family: $bold;
    color: $primary-color;
}
.btn{
    @include rfs(20px);
    font-family: $bold;
    color: $primary-color;
    padding: 10px 20px 10px 20px;
    background-color: $green;
    border-radius: 10em;
    transition: 0.3s;
    &:hover{
        color: $green;
        background-color: $primary-color;
        transition: 0.3s;
    }
}
div.wpforms-container-full .wpforms-form input[type="submit"], div.wpforms-container-full .wpforms-form button[type="submit"], div.wpforms-container-full .wpforms-form .wpforms-page-button{
    font-size: 20px!important;
    border: none!important;
    font-family: $bold;
    color: $primary-color;
    padding: 10px 20px 10px 20px;
    background-color: $green!important;
    border-radius: 10em;
    transition: 0.3s;
}
div.wpforms-container-full .wpforms-form input[type="submit"]:hover, div.wpforms-container-full .wpforms-form input[type="submit"]:focus, div.wpforms-container-full .wpforms-form input[type="submit"]:active, div.wpforms-container-full .wpforms-form button[type="submit"]:hover, div.wpforms-container-full .wpforms-form button[type="submit"]:focus, div.wpforms-container-full .wpforms-form button[type="submit"]:active, div.wpforms-container-full .wpforms-form .wpforms-page-button:hover, div.wpforms-container-full .wpforms-form .wpforms-page-button:active, div.wpforms-container-full .wpforms-form .wpforms-page-button:focus{
    color: $green;
    background-color: $primary-color!important;
    transition: 0.3s;
}
input.wpforms-field-name-last .wpforms-field-required{
    border-radius: 5px;
}
// Navigation
nav{
    transition: 0.5s;
    background-color: none;
    a{
        color: $grey;
    }
}
#project-nav{
    background-color: $primary-color;
}
.nav-background{
    transition: 0.5s;
    background-color: $primary-color;
}
.navbar{
    padding: 1.5em;
}
.navbar-toggler{
    border: none;

}
.custom-toggler .navbar-toggler-icon {
    // background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(221, 215, 215)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    background-image: none;
}
  
.custom-toggler.navbar-toggler {
    border-color: $grey;
} 
  
// Header
#header-bg{
    background-image: url('../img/header-background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;;
    height: 100vh;
    position: relative;
    right: 0;
    left: 0;
    top: 0;
    .row{
        margin: 0;
    }
    #header-info{
        text-align: center;
        a{
            color: $grey;
            :hover{
                color: $green;
                transition: 0.3s;
            }
        }
        i{
            color: $grey;
            transition: 0.3s;
            margin-right: 1em;
        }
    }
    #header-name-title{
        font-size: 24px;
        font-family: $light;
        color: $grey;
    }
    #header-job-title{
        color: $grey;
    }
    #header-job-title-2{
        color: $grey;
        font-family: $light;
    }
}
img#logo{
    width: 50px;
}
// About
#about{
    margin: 10rem 0 7rem 0;
    h1{
        margin-top: 0.4em;
        text-align: center;
        @include rfs(200px);
    }
    #profile-content{
        position: relative;
        bottom: 18px;
    }
    #profile-img{
        img{
            text-align: center;
            width: 100%;
            border-radius: 1em;
        }
    }
    .skills{
        svg{
            padding-left: 0.2em;
            width: 100%;
        }
        img{
            width: 100%;
        }
    }
    .skills-container{
        margin-top: 2em;
        margin-bottom: 2em;
        div{
            padding-bottom: 1em;
        }
    }
    #other{
        text-align: center;
    }
}

// my work projects
#projects{
    #my-work{
        h1{
            @include rfs(200px);
            text-align: center;
            
        }
    }
    .single-project{
        margin-bottom: 5em;
        img{
            transition: 0.3s;
            width: 100%;
            border-radius: 10px;
            &:hover{
                transition: 0.3s;
                -moz-transform: translate(0px, -10px);
                -ms-transform: translate(0px, -10px);
                -o-transform: translate(0px, -10px);
                -webkit-transform: translate(0px, -10px);
                transform: translate(0px, -10px)
            }
        }
        .project-info{
            margin-top: 2em;
            color: $black;
        }
    }
    #mixer-button-container{
        display: inline-block;
        margin: 5em 0 5em 0;
        padding: 1em;
        border-radius: 10px;
        box-shadow: 0px 10px 25px 10px rgba(0,0,0,0.15);
        -webkit-box-shadow: 0px 10px 25px 10px rgba(0,0,0,0.15);
        -moz-box-shadow: 0px 10px 25px 10px rgba(0,0,0,0.15);
        .mixitup-control-active{
            border-bottom: 5px solid $green;
            font-family: $bold;
        }
        button{
            background: none;
            border: 0;
            font-family: $light;
            font-size: 20px;
            margin: 15px;
        }
    }
}
// Contact
#contact{
    padding: 5em 1em 5em 1em;
    margin-top: 5em;
    background-color: #f4f4f4;
    h2{
        color: $secondary-color;
    }
    label{
        color: $secondary-color;
    }
    #contact-container{
        margin: 0 auto;
        max-width: 100%;
    }
    i{
        margin-right: 10px;
    }
    #contact-info{
        margin-bottom: 2em;
    }
}

.wpforms-confirmation-container-full{
    background: none;
    border: none; 
}
#project-header-container{
    margin-bottom: 10em;
    #project-text-container {
        padding-top: 13em;
        text-align: center;
        #header-cta{
            margin-top: 5%; 
        }
        #project-title{
            h1{
                margin-bottom: 1em;
            }
        }
    }
    #featured-image-container{
        position: relative;
        right: 0;
        left: 0;
        top: 0;
        bottom: 0;
    }
}
// Project intro 
.project-image {
  width: 100%;
  height: auto;
  display: block;
}
.project-intro{
    width: 100%;
    padding-top: 5%;
    text-align: left;
}
#project-intro-container{
    width: 100%;
    margin: auto;
    padding-top: 5%;
}
.project-intro-container{
    color: $white;
    background-color: $primary-color;
    padding-bottom: 5em;
    h1, h2{
        color: $white;
    }
    h3{
        font-family: "AvenirRegular";
        color: $white;
    }
}
.wp-block-image img {
  width: 100%;
  height: auto;
}
.solution-full-width {
  width: 100vw;
  margin-left: calc(-50vw + 50%);
}
.solution-full-width img {
  width: 100%;
  height: auto;
  display: block;
}
.full-bleed {
  width: 100vw;
  margin-left: calc(-50vw + 50%);
  padding: 0 5% 0 5%;
}

.full-bleed img {
  width: 100%;
  height: auto;
  display: block;
}
strong{
    font-family: $bold;
}
.image-row {
  display: flex;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 24px;
  align-items: flex-end;
}

.image-row__item img {
  width: 100%;
  height: auto;
  display: block;
  cursor: pointer;

}
.image-row__item figcaption{
    padding-top: 1em;
  }
.hero-dark {
  background: $primary-color; /* your dark */
}

.section-light {
  background: $white; /* your beige */
}

.wave-divider {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -1px; /* avoids a tiny gap */
  line-height: 0;
}

.wave-divider svg {
  display: block;
  width: 100%;
  height: 80px; /* adjust */
}

.wave-divider path {
  fill: $white; /* same as next section background */
}

// Key responsibilities
#key-responsibilities-container{
    margin-bottom: 5em;
    top: 0;
    video{
        width: 100%;
    }
    #objectives, #key-responsibilities-text{
        margin-bottom: 2em;
    }
}
.content-container{
    // position: relative;
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 1em 0 1em;
}
.content-container2{
    margin-left: auto;
    margin-right: auto;
}
#project-images-container{
    top: 10em;
}
.featured-image-parent > *{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 40vh;
}

#gutenburg-content-container{
    top: 10em;
    .project-image{
        transition: 0.3s;
        img{
            width: 100%;
            border-radius: 5px;
            cursor: pointer;
        }
        &:hover{
            transition: 0.3s;
            -moz-transform: translate(0px, -10px);
            -ms-transform: translate(0px, -10px);
            -o-transform: translate(0px, -10px);
            -webkit-transform: translate(0px, -10px);
            transform: translate(0px, -10px)
        }
    }
}
#help-center-key-responsibility-image{
    img{
        width: 100%;
    }
    .special-image{
        width: 100%;
    }
}
// Footer
#footer-container{
    background-color: $primary-color;
    color: $grey;
    padding: 2em;
    margin-top: auto;
    top: 25em;
    #footer-content{
        transition: 0.3s;
        display: inline-block;
        &:hover{
            transition: 0.3s;
            color: $white;
        }
    }
    p{
        margin-bottom: 0;
    }
}
// 404 page
.lost-text{
    margin-top: 45%;
}
// Lightbox
// #Lightbox{
// 	display: none;
// 	position: fixed;
// 	width: 100%;
// 	height: 100%;
// 	background-color: rgba(0, 0, 0, 0.8);
// 	left: 0;
// 	top: 0;
// 	color: white;
// 	z-index: 20;
// }
// #Lightbox-Content{
// 	position: relative;
// 	margin: 0 auto;
// 	width: 100%;
// 	top: 30%;
//     img{
//         width: 100%;
//     }
//     .close-button {
//         font-size: 30px;
//         color: $primary-color;
//         position: relative;
//         cursor: pointer;
//         top: 2em;
//         left: 90%;
//         &:hover{
//             color: $green;
//             transition: all 0.2s ease;
//         }
//     }

// }
#Lightbox {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.8);
  z-index: 9999;

  display: flex;
  align-items: center;
  justify-content: center;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 0.2s ease;
}

#Lightbox.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

#Lightbox-Content {
  position: relative;
  max-width: 90vw;
  max-height: 90vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

#Lightbox-Image {
  max-width: 90vw;
  max-height: 90vh;
  width: auto;
  height: auto;
  object-fit: contain;
  display: block;
  cursor: pointer;
}

/* Keep X always visible */
.close-button {
  position: fixed;
  top: 24px;
  right: 24px;
  font-size: 30px;
  color: #fff;
  cursor: pointer;
  z-index: 10000;
}

.close-button:hover {
  opacity: 0.8;
}
.preventscroll{
	overflow: hidden;
}
@media screen and (min-width: 768px){
    #header-bg{
        #header-info{
            text-align: left;
        }
        #header-name-title{
            font-size: 30px;
        }
        #header-job-title{
            font-size: 80px;
        }
        #header-job-title-2{
            font-size: 60px;
        }
    }
    #about{
        h1{
            margin-top: 0;
            text-align: left;
        }
        #profile-content{
            margin-left: 2em;
        }
        #profile-img{
            img{
                text-align: left;
            }
        }
        #other{
            text-align: left;
        }
    }
    .featured-image-parent > *{
        height: 70vh;
    }
    #key-responsibilities-container {
        top: 10em;
    }
    #project-images-container{
        top: 20em;
    }
    .content-container{
        max-width: 1280px;
        padding: 0 5em 0 5em;
    }
    #gutenburg-content-container{
        top: 20em;
    }
    #contact{
        #contact-container{
            max-width: 80%;
        }
    }
    #help-center-key-responsibility-image{
        img.special-image{
            width: 70%;
        }
    }
    #contact{
        padding: 5em;
    }
    #project-intro-container{
        width: 80%;
        margin: auto;
        padding-top: 5%;
        padding-bottom: 5%;
    }
    .project-intro{
        width: 50%;
        padding: 2em;
        text-align: left!important;
    }
}



@media screen and (min-width: 1024px){
    #Lightbox-Content{
        width: 60%;
    }
}
@media screen and (min-width: 1200px){

}

@media screen and (min-width: 1440px){
    .featured-image-parent > *{
        height: 80vh;
    }
    #key-responsibilities-container {
        top: 25em;
        margin-bottom: 5em;
    }
    #project-images-container{
        top: 30em;
    }
    .content-container{
        max-width: 1500px;
    }
    .content-container2{
        max-width: 2000px;
    }
    #gutenburg-content-container{
        top: 30em;
    }
    #Lightbox-Content{
		width: 60%;
	}
    
}