@font-face {
  font-family: "AvenirLight";
  src: url("../fonts/AvenirLight.eot"); /* IE9 Compat Modes */
  src: url("../fonts/AvenirLight.eot?#iefix") format("embedded-opentype"), url("../fonts/AvenirLight.woff") format("woff2"), url("../fonts/AvenirLight.woff") format("woff"), url("../fonts/AvenirLight.ttf") format("truetype");
}
@font-face {
  font-family: "AvenirRegular";
  src: url("../fonts/AvenirRegular.eot"); /* IE9 Compat Modes */
  src: url("../fonts/AvenirRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/AvenirRegular.woff") format("woff2"), url("../fonts/AvenirRegular.woff") format("woff"), url("../fonts/AvenirRegular.ttf") format("truetype");
}
@font-face {
  font-family: "AvenirBlack";
  src: url("../fonts/AvenirBlack.eot"); /* IE9 Compat Modes */
  src: url("../fonts/AvenirBlack.eot?#iefix") format("embedded-opentype"), url("../fonts/AvenirBlack.woff") format("woff2"), url("../fonts/AvenirBlack.woff") format("woff"), url("../fonts/AvenirBlack.ttf") format("truetype");
}
body {
  width: 100%;
  height: 100vh;
  font-family: "AvenirLight", Helvetica, Arial, sans-serif;
  color: #333333;
  display: flex;
  flex-direction: column;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "AvenirBlack", Helvetica, Arial Black, sans-serif;
  color: #2E3644;
}

.btn {
  font-size: 1.25rem;
  font-family: "AvenirBlack", Helvetica, Arial Black, sans-serif;
  color: #2E3644;
  padding: 10px 20px 10px 20px;
  background-color: #8aeebc;
  border-radius: 10em;
  transition: 0.3s;
}
.btn:hover {
  color: #8aeebc;
  background-color: #2E3644;
  transition: 0.3s;
}

div.wpforms-container-full .wpforms-form input[type=submit], div.wpforms-container-full .wpforms-form button[type=submit], div.wpforms-container-full .wpforms-form .wpforms-page-button {
  font-size: 20px !important;
  border: none !important;
  font-family: "AvenirBlack", Helvetica, Arial Black, sans-serif;
  color: #2E3644;
  padding: 10px 20px 10px 20px;
  background-color: #8aeebc !important;
  border-radius: 10em;
  transition: 0.3s;
}

div.wpforms-container-full .wpforms-form input[type=submit]:hover, div.wpforms-container-full .wpforms-form input[type=submit]:focus, div.wpforms-container-full .wpforms-form input[type=submit]:active, div.wpforms-container-full .wpforms-form button[type=submit]:hover, div.wpforms-container-full .wpforms-form button[type=submit]:focus, div.wpforms-container-full .wpforms-form button[type=submit]:active, div.wpforms-container-full .wpforms-form .wpforms-page-button:hover, div.wpforms-container-full .wpforms-form .wpforms-page-button:active, div.wpforms-container-full .wpforms-form .wpforms-page-button:focus {
  color: #8aeebc;
  background-color: #2E3644 !important;
  transition: 0.3s;
}

input.wpforms-field-name-last .wpforms-field-required {
  border-radius: 5px;
}

nav {
  transition: 0.5s;
  background-color: none;
}
nav a {
  color: #d1d2d4;
}

#project-nav {
  background-color: #2E3644;
}

.nav-background {
  transition: 0.5s;
  background-color: #2E3644;
}

.navbar {
  padding: 1.5em;
}

.navbar-toggler {
  border: none;
}

.custom-toggler .navbar-toggler-icon {
  background-image: none;
}

.custom-toggler.navbar-toggler {
  border-color: #d1d2d4;
}

#header-bg {
  display: block;
  background-image: url("../img/header-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: auto;
  position: relative;
  right: 0;
  left: 0;
  top: 0;
}
#header-bg .row {
  margin-left: 0;
  margin-right: 0;
}
#header-bg .container {
  min-height: 100vh;
}
#header-bg p {
  color: #d1d2d4;
}
#header-bg #profile-img {
  text-align: center;
}
#header-bg #profile-img img {
  text-align: center;
  width: 80%;
  border-radius: 30em;
}
#header-bg #header-info {
  text-align: center;
}
#header-bg #header-info a {
  color: #2E3644;
  transition: 0.3s;
}
#header-bg #header-info a:hover {
  color: #8aeebc;
}
#header-bg #header-info a#cv:hover {
  color: #ffffff;
}
#header-bg #header-info a i {
  color: #d1d2d4;
  transition: 0.3s;
}
#header-bg #header-info a:hover i {
  color: #8aeebc;
}
#header-bg #header-name-title {
  font-size: 2rem;
  font-family: "AvenirRegular", Helvetica, Arial, sans-serif;
  color: #d1d2d4;
  padding-bottom: 16px;
}
#header-bg #header-job-title {
  color: #d1d2d4;
}
#header-bg #header-job-title-2 {
  color: #d1d2d4;
  font-family: "AvenirLight", Helvetica, Arial, sans-serif;
}

#my-description {
  color: #ffffff;
}

#cv {
  margin-bottom: 1em;
}

img#logo {
  width: 50px;
}

#about {
  margin: 10rem 0 7rem 0;
}
#about h1 {
  margin-top: 0.4em;
  text-align: center;
  font-size: calc(2.375rem + 13.5vw);
}
@media (min-width: 1200px) {
  #about h1 {
    font-size: 12.5rem;
  }
}
#about #profile-content {
  position: relative;
  bottom: 18px;
}
#about .skills svg {
  padding-left: 0.2em;
  width: 100%;
}
#about .skills img {
  width: 100%;
}
#about .skills-container {
  margin-top: 2em;
  margin-bottom: 2em;
}
#about .skills-container div {
  padding-bottom: 1em;
}
#about #other {
  text-align: center;
}

#projects #my-work {
  margin-top: 5%;
}
#projects #my-work h1 {
  font-size: calc(2.375rem + 13.5vw);
}
@media (min-width: 1200px) {
  #projects #my-work h1 {
    font-size: 12.5rem;
  }
}
#projects #my-work h1 {
  text-align: center;
}
#projects .single-project {
  margin-bottom: 5em;
}
#projects .single-project img {
  transition: 0.3s;
  width: 100%;
  border-radius: 10px;
}
#projects .single-project img:hover {
  transition: 0.3s;
  -moz-transform: translate(0px, -10px);
  -ms-transform: translate(0px, -10px);
  -o-transform: translate(0px, -10px);
  -webkit-transform: translate(0px, -10px);
  transform: translate(0px, -10px);
}
#projects .single-project .project-info {
  margin-top: 2em;
  color: #000000;
}
#projects #mixer-button-container {
  display: inline-block;
  margin: 5em 0 5em 0;
  padding: 1em;
  border-radius: 10px;
  box-shadow: 0px 10px 25px 10px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0px 10px 25px 10px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 10px 25px 10px rgba(0, 0, 0, 0.15);
}
#projects #mixer-button-container .mixitup-control-active {
  border-bottom: 5px solid #8aeebc;
  font-family: "AvenirBlack", Helvetica, Arial Black, sans-serif;
}
#projects #mixer-button-container button {
  background: none;
  border: 0;
  font-family: "AvenirLight", Helvetica, Arial, sans-serif;
  font-size: 20px;
  margin: 15px;
}

#contact {
  padding: 5em 1em 5em 1em;
  margin-top: 5em;
  background-color: #f4f4f4;
}
#contact h2 {
  color: #191f2d;
}
#contact label {
  color: #191f2d;
}
#contact #contact-container {
  margin: 0 auto;
  max-width: 100%;
}
#contact i {
  margin-right: 10px;
}
#contact #contact-info {
  margin-bottom: 2em;
}

.wpforms-confirmation-container-full {
  background: none;
  border: none;
}

#project-header-container {
  margin-bottom: 10em;
}
#project-header-container #project-text-container {
  padding-top: 13em;
  text-align: center;
}
#project-header-container #project-text-container #header-cta {
  margin-top: 5%;
}
#project-header-container #project-text-container #project-title h1 {
  margin-bottom: 1em;
}
#project-header-container #featured-image-container {
  position: relative;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
}

.project-image {
  width: 100%;
  height: auto;
  display: block;
}

.project-intro {
  width: 100%;
  padding-top: 5%;
  text-align: left;
}

#project-intro-container {
  width: 100%;
  margin: auto;
  padding-top: 5%;
}

.project-intro-container {
  color: #ffffff;
  background-color: #2E3644;
  padding-bottom: 5em;
}
.project-intro-container h1, .project-intro-container h2 {
  color: #ffffff;
}
.project-intro-container h3, .project-intro-container h4 {
  font-family: "AvenirRegular";
  color: #ffffff;
}

h4 {
  font-family: "AvenirRegular";
}

.wp-block-image img {
  width: 100%;
  height: auto;
}

.solution-full-width {
  width: 100vw;
  margin-left: calc(-50vw + 50%);
}

.solution-full-width img {
  width: 100%;
  height: auto;
  display: block;
}

.full-bleed {
  width: 100vw;
  margin-left: calc(-50vw + 50%);
  padding: 0 5% 0 5%;
}

.full-bleed img {
  width: 100%;
  height: auto;
  display: block;
}

strong {
  font-family: "AvenirBlack", Helvetica, Arial Black, sans-serif;
}

.image-row {
  display: flex;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 24px;
  align-items: flex-end;
}

.image-row__item img {
  width: 100%;
  height: auto;
  display: block;
  cursor: pointer;
}

.image-row__item figcaption {
  padding-top: 1em;
}

.tooltip-component img {
  cursor: pointer;
}

.hero-dark {
  background: #2E3644; /* your dark */
}

.section-light {
  background: #ffffff; /* your beige */
}

.wave-divider {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -1px; /* avoids a tiny gap */
  line-height: 0;
}

.wave-divider svg {
  display: block;
  width: 100%;
  height: 80px; /* adjust */
}

.wave-divider path {
  fill: #ffffff; /* same as next section background */
}

#key-responsibilities-container {
  margin-bottom: 5em;
  top: 0;
}
#key-responsibilities-container video {
  width: 100%;
}
#key-responsibilities-container #objectives, #key-responsibilities-container #key-responsibilities-text {
  margin-bottom: 2em;
}

.content-container {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 1em 0 1em;
}

.content-container2 {
  margin-left: auto;
  margin-right: auto;
}

#project-images-container {
  top: 10em;
}

.featured-image-parent > * {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 40vh;
}

#gutenburg-content-container {
  top: 10em;
}
#gutenburg-content-container .project-image {
  transition: 0.3s;
}
#gutenburg-content-container .project-image img {
  width: 100%;
  border-radius: 5px;
  cursor: pointer;
}
#gutenburg-content-container .project-image:hover {
  transition: 0.3s;
  -moz-transform: translate(0px, -10px);
  -ms-transform: translate(0px, -10px);
  -o-transform: translate(0px, -10px);
  -webkit-transform: translate(0px, -10px);
  transform: translate(0px, -10px);
}

#help-center-key-responsibility-image img {
  width: 100%;
}
#help-center-key-responsibility-image .special-image {
  width: 100%;
}

#footer-container {
  background-color: #2E3644;
  color: #d1d2d4;
  padding: 2em;
  margin-top: auto;
  top: 25em;
}
#footer-container #footer-content {
  transition: 0.3s;
  display: inline-block;
}
#footer-container #footer-content:hover {
  transition: 0.3s;
  color: #ffffff;
}
#footer-container p {
  margin-bottom: 0;
}

.lost-text {
  margin-top: 45%;
}

#Lightbox {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 0.2s ease;
}

#Lightbox.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

#Lightbox-Content {
  position: relative;
  max-width: 90vw;
  max-height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#Lightbox-Image {
  max-width: 90vw;
  max-height: 90vh;
  width: auto;
  height: auto;
  object-fit: contain;
  display: block;
  cursor: pointer;
}

/* Keep X always visible */
.close-button {
  position: fixed;
  top: 24px;
  right: 24px;
  font-size: 30px;
  color: #fff;
  cursor: pointer;
  z-index: 10000;
}

.close-button:hover {
  opacity: 0.8;
}

.preventscroll {
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  #header-bg #header-info {
    text-align: left;
  }
  #header-bg #header-name-title {
    font-size: 3rem;
  }
  #header-bg #header-job-title {
    font-size: 80px;
  }
  #header-bg #header-job-title-2 {
    font-size: 60px;
  }
  #header-bg #profile-img img {
    width: 50%;
  }
  #about h1 {
    margin-top: 0;
    text-align: left;
  }
  #about #profile-content {
    margin-left: 2em;
  }
  #about #profile-img img {
    text-align: left;
  }
  #about #other {
    text-align: left;
  }
  .featured-image-parent > * {
    height: 70vh;
  }
  #key-responsibilities-container {
    top: 10em;
  }
  #project-images-container {
    top: 20em;
  }
  .content-container {
    max-width: 1280px;
    padding: 0 5em 0 5em;
  }
  #gutenburg-content-container {
    top: 20em;
  }
  #contact #contact-container {
    max-width: 80%;
  }
  #help-center-key-responsibility-image img.special-image {
    width: 70%;
  }
  #contact {
    padding: 5em;
  }
  #project-intro-container {
    width: 80%;
    margin: auto;
    padding-top: 5%;
    padding-bottom: 5%;
  }
  .project-intro {
    width: 50%;
    padding: 2em;
    text-align: left !important;
  }
}
@media screen and (min-width: 1024px) {
  #Lightbox-Content {
    width: 60%;
  }
  #header-bg #profile-img img {
    width: 80%;
  }
}
@media (max-width: 1199.98px) {
  #header-bg {
    min-height: 100vh;
  }
  #header-bg .container {
    min-height: 100vh;
    align-items: center;
  }
  #header-bg #profile-img {
    margin-bottom: 2em;
  }
  #header-bg #header-info {
    margin-top: 0;
    padding-top: 0;
  }
  #header-bg #header-info h1 {
    margin-top: 0;
  }
}
@media screen and (min-width: 1440px) {
  .featured-image-parent > * {
    height: 80vh;
  }
  #key-responsibilities-container {
    top: 25em;
    margin-bottom: 5em;
  }
  #project-images-container {
    top: 30em;
  }
  .content-container {
    max-width: 1500px;
  }
  .content-container2 {
    max-width: 2000px;
  }
  #gutenburg-content-container {
    top: 30em;
  }
  #Lightbox-Content {
    width: 60%;
  }
}