html {
  box-sizing: border-box;
}

body {
  font-family: Avenir Light, Helvetica, Arial, sans-serif;
  color: #333333;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Avenir Black, Helvetica, Arial Black, sans-serif;
  color: #2E3644;
}

#header-info {
  margin-top: 20em;
  text-align: center;
}
#header-info i {
  color: #d1d2d4;
  transition: 0.3s;
}
#header-info a :hover {
  color: #8aeebc;
  transition: 0.3s;
}

#header-name-title {
  font-size: 24px;
  font-family: Avenir Light, Helvetica, Arial, sans-serif;
  color: #d1d2d4;
}

#header-job-title {
  color: #d1d2d4;
}

#header-job-title-2 {
  color: #d1d2d4;
  font-family: Avenir Light, Helvetica, Arial, sans-serif;
}

#header-bg {
  background-image: url("../img/header-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
}

@media screen and (min-width: 768px) {
  #header-info {
    margin-top: 20em;
    text-align: left;
  }

  #header-name-title {
    font-size: 30px;
  }

  #header-job-title {
    font-size: 80px;
  }

  #header-job-title-2 {
    font-size: 60px;
  }
}